<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style_login_manager.css">
</head>

<body>
    <div class="login_box">
        <h1>Zaloguj się</h1>
        <h3>Konto zarządcy</h3>
        <div class="input_box">
            <input class="email" type="text" placeholder="Nazwa użytkownika" name="" value="">
        </div>
        <div class="input_box">
            <input class="password" type="password" placeholder="Hasło" name="" value="">
        </div>
        <input class="login_button" onclick="login()" type="button" name="" value="Zaloguj">
    </div>



</body>


</html>