<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raport zarządczy</title>
        <link rel="stylesheet" href="/assets/style_general.css">
        <link rel="stylesheet" href="/assets/style_manage_report.css">
    </head>
    <body>
        <div class="sidenav">
            <ul>
                <li><H3 class="list_title">Raporty</H3></li>
                <li><a href="management_report.html">Raport zarządczy</a></li>  
                <li><a href="operational_report.html">Raport operacynjy</a></li> 
                <li><H3 class="list_title">Cennik</H3></li>
                <li><a href="price_list.html">Wyświetl cennik</a></li>  
                <li><a href="edit_price_list.html">Edytuj cennik</a></li> 
            </ul>
        </div>

        <div class="page_title"><h2>Raport zarządczy</h2></div>

        <div class="main">

            <input class="button" onclick="" type="button" name="" value="Wygeneruj raport zarządczy">

            <table class="management_report">
                <tr>
                    <th>Lp.</th>
                    <th>Planowe:</th>
                    <th>Wykonane:</th>
                    <th>Odchylenie od planu:</th>
                </tr>
            </table>


        </div>

    </body>
</html>