<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cennik</title>
        <link rel="stylesheet" href="/assets/style_price_list.css">
        <link rel="stylesheet" href="/assets/style_general.css">
    </head>
    <body>
        <div class="sidenav">
            <ul>
                <li><H3 class="list_title">Raporty</H3></li>
                <li><a href="management_report.html">Raport zarządczy</a></li>  
                <li><a href="operational_report.html">Raport operacynjy</a></li> 
                <li><H3 class="list_title">Cennik</H3></li>
                <li><a href="price_list.html">Wyświetl cennik</a></li>  
                <li><a href="edit_price_list.html">Edytuj cennik</a></li> 
            </ul>
        </div>

        <div class="page_title"><h2>Cennik</h2></div>

        <div class="main">
            <table class="price_list">
                <tr>
                    <th>Lp.</th>
                    <th>Typ</th>
                    <th>Rodzaj</th>
                    <th>Czas</th>
                    <th>Cena</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Bilet</td>
                    <td>Normalny</td>
                    <td>2h</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Bilet</td>
                    <td>Normalny</td>
                    <td>4h</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Bilet</td>
                    <td>Ulgowy</td>
                    <td>2h</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Bilet</td>
                    <td>Ulgowy</td>
                    <td>4h</td>
                    <td>15</td>
                </tr>
            </table>

        </div>

    </body>
</html>