* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iatra {
	height: 400px;
	width: 1200px;
    object-fit: cover;
    transition-duration: 3s;
    filter: brightness(50%);
}
img:hover {
    transition-duration: 3s;
    filter: brightness(100%);
}

p {
	color: black;
	font-size: 20px;
	margin-top: 5px;
	font-weight: 200;
    letter-spacing: 0.5px;
    font-family: Times, Times New Roman, serif;
}

.section-title span {
	color: rgb(77, 185, 221);
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.kup {
	display: block;
	padding: 10px 20px;
	color: white;
	background-color: rgb(9, 247, 247);
    border: 2px solid lightblue;
    font-size: 25px;
    font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
	transition: .3s ease;
    transition-property: background-color, color;
    z-index:-1;
    
}
.kup:hover {
	color: white;
	background-color: rgb(50, 255, 9);
}
.b4 h1 {
	font-size: 38px;
    text-transform: uppercase;
    font-family: URW Chancery L, cursive;
    color: greenyellow;
    letter-spacing: 2px;
}
.po{
    display: block;
    padding-left: 70px;
}
.b4 h1 span {
    padding: 0;
    padding-right: 6px;
	color: rgb(77, 185, 221);
}

/* Header section */
#header {
    background-image: url(./img/2.jpg);
    opacity: 0.9;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
    height: auto;
    
}
#header .header {
	min-height: 70px;
	background-color: rgba(30, 28, 28, 0.8);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul li {
    display:inline-block;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 10px;
}
#header .nav-list ul a {
	font-size: 20px;
    font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
a.active{
    box-shadow: 0 0 10px lightgreen;
    border-radius:8px;
}
#header .nav-list ul li:hover a {
    color: lightblue;
    box-shadow: 0 0 5px #33ffff;
    border-radius:8px;
    transition:all .5s ease 0s;
    bottom:0;
}
#home {
	background-image: url(./img/1.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .2;
	z-index: -1;
}
#home h1 {
	display: block;
	width: fit-content;
    font-size: 35px;
    letter-spacing: 1.5px;
    font-family: Tahoma;
	color: white;
	animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    padding-left: 70px;
    margin-top: 20%;
}
.na{
    width:400px;
    height:400px;
    position:relative;
    border-radius:50%;
    margin-left: 50%;
}
.na:after{
    content:'';
    background-color:blue;
    width:400px;
    height:400px;
    position:absolute;
    top:0;
    left:0;
    opacity:0.5;
    border-radius:50%;
    z-index:-1;
}
#onas .onas {
	flex-direction: column;
	text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

#onas .onas-item {
	flex-basis: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 20px;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#onas .onas-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #03204b 0%, #0dbeeb 100%);
	opacity: .9;
	z-index: -1;
}
#onas .onas-item h2{
    color:white;
    font-size: 19px;
    font-family: Verdana, cursive;
    font-weight: 300;
    padding-bottom: 10px;
}
#atrakcje .atrakcje {
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}
#atrakcje .atrakcje-header h1 {
	margin-bottom: 50px;
}
#atrakcje .all-atrakcje {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#atrakcje .atrakcje-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#atrakcje .atrakcje-info h1 {
	font-size: 25px;;
    font-weight: 500;
    font-family: Verdana, cursive;
    color:black;
}
#atrakcje .atrakcje-info h2 {
	font-size: 20px;
    font-weight: 300;
    color:black;
}
#atrakcje .atrakcje-info {
    width:100%;
    height:100%;
    position:relative;
}
#atrakcje .atrakcje-info::after {
    content:'';
    background-image: url(./img/1.png);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.1;
    z-index:-1;
}
#cennik .cennik {
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
    text-align: center;
}

#cennik h2 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.price_list{
    width: 80%;
    border-collapse: collapse;
    padding: 25px;
    margin: 80px auto 40px auto;
    min-width: 600px;
    font-size: 0.9en;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    flex-basis: content;
}

.price_list th{
    font-weight: bold;
    background-color: rgb(182, 206, 226);
}

.price_list th, td{
    text-align: center;
    padding: 10px 15px;
    border-collapse: collapse;
}

.price_list tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.price_list tr:nth-child(odd){
    background-color: rgba(182, 206, 226, 0.5);
} 

.price_list tr:last-of-type{
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

.edit_price_button{
    background-color: rgba(182, 206, 226, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.edit_price_button:active{
    outline-style: inset;
}
#kontakt .kontakt {
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
    text-align: center;
}
#kontakt .kontakt-item h1 {
    color:green;
    font-size: 14px;
    padding-bottom: 10px;
    font-family: Verdana, cursive;
}
#kontakt .kontakt-item {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 0;
    margin-top: 25px;
}
.ikonka {
    width:30px;
    height: 80px;
    object-fit: contain;
    width:100px;
    padding-bottom: 15px;
}
#kontakt .social-icon {
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 0;
    margin-top: 25px;
}
