#main 
{ 
    height: 400px; 
}

select
{
   font-size: larger; 
   width: 200px;
   float: left;
   margin: 4px;
}

input
{
    font-size: larger;
    width: 150px;
}

#chosenPrice
{
    float: left;
    margin: 4px;
    font-size: x-large;
}

#textValue, #toPay
{
    border: 2px solid black;
    border-radius: 4px;
    height: 40px;
    font-size: xx-large;
}

#add
{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 4px;
    font-size: larger;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    padding: 6px;
    transition-duration: 0.4s;
}

#add:hover 
{
    background-color: gold;
}

#summary
{
    margin: 4px;
    float: left;
    width: 450px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#chosenElements
{
    border: 2px solid black;
    border-radius: 4px;
    margin: 4px;
    float: left;
    width: 450px;
    text-align: left;
    font-size: larger;
}

#paymentMethod
{
    margin: 4px;
    font-size: larger; 
    width: 250px;
}

#sum
{
    margin: 4px;
    font-size: x-large;
}

#transaction
{
    background-color: limegreen;
    border: 2px solid black;
    border-radius: 4px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    padding: 6px;
    transition-duration: 0.4s;
}

#transaction:hover 
{
    background-color: green;
}
  
#clear 
{
    background-color: orangered;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}
  
#clear:hover 
{
    background-color: red;
}